server:
  port: 8083

spring:
  application:
    name: payment-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
