server:
  port: 8084

spring:
  application:
    name: email-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: email-group
      auto-offset-reset: earliest
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
